.webinar {
  display: flex;
  justify-content: center;
}

.webinar-container {
  background-image: url("../images/table-decor.png");
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  overflow: hidden;
}

.webinar-info {
  padding-bottom: 24px;
  position: relative;
}

.webinar-info-subtitle-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
}

.webinar-info-subtitle {
  height: 28px;
  padding: 4px 8px;

  color: rgba(15, 124, 65, 1);
  box-shadow: 0 0 0 0.4px rgba(15, 124, 65, 1);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.07em;
  text-align: center;

  position: relative;
}

.webinar-info-subtitle.big {
  max-width: 195px;
}

.webinar-info-subtitle.small {
  max-width: 188px;
  letter-spacing: 0.08em;
}

.webinar-info-subtitle-span {
  font-weight: 700;
}

.corner {
  width: 2px;
  height: 2px;
  background-color: rgba(15, 124, 65, 1);
  position: absolute;
}

.left-top {
  top: -1px;
  left: -1px;
}

.right-top {
  top: -1px;
  right: -1px;
}

.left-bottom {
  bottom: -1px;
  left: -1px;
}

.right-bottom {
  bottom: -1px;
  right: -1px;
}

.webinar-info-title {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 700;
  padding-bottom: 16px;
}

.webinar-info-text {
  font-size: 16px;
  line-height: 1.5;
}

.webinar-register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 0px rgba(15, 124, 65, 0.2);
  position: relative;
}

.webinar-register-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

.webinar-register-timer {
  display: flex;
  max-width: 222px;
  width: 100%;
  justify-content: space-between;
}

.webinar-register-timer-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.webinar-register-timer-value {
  font-size: 28px;
  line-height: 1.14;
  font-weight: 700;
}

.webinar-register-timer-value.seconds {
  color: rgba(15, 124, 65, 1);
}

.webinar-register-timer-label {
  font-size: 8px;
  line-height: 1.22;
  font-weight: 600;
}

.webinar-register-timer-colon {
  font-size: 28px;
  line-height: 1.14;
  font-weight: 700;
  color: rgba(1, 1, 1, 0.2);
}

.webinar-register-btn {
  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(15, 124, 65, 1);
  border: none;
  transition: background-color 0.2s ease-in-out;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.webinar-register-btn:hover {
  background-color: rgb(14, 110, 59);
}

.vector-img {
  position: absolute;
  bottom: 18px;
  right: 12px;
}

.rectangle {
  background-color: rgba(15, 124, 65, 1);
  position: absolute;
}

.rectangle.one {
  width: 6px;
  height: 6px;
  top: 210px;
  right: 27px;
}

.rectangle.two {
  width: 16px;
  height: 16px;
  bottom: -18px;
  right: -26px;
}

.rectangle.three {
  width: 6px;
  height: 6px;
  bottom: 120px;
  left: -12px;
}

.rectangle.four {
  width: 16px;
  height: 16px;
  bottom: -24px;
  left: 80px;
}

.rectangle.five {
  display: none;
}

.rectangle.six {
  display: none;
}

.rectangle.seven {
  display: none;
}

.formula {
  font-family: "Gotham Pro", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  color: rgba(191, 219, 204, 1);

  position: absolute;
}

.formula.one {
  color: rgba(151, 195, 171, 1);

  top: 13px;
  left: 253px;
}

.formula.one br {
  display: none;
}

.formula.two {
  font-weight: 500;
  font-style: italic;
  rotate: 16.5deg;

  top: 115px;
  left: 238px;
}

.formula.three {
  font-size: 12px;
  line-height: 1.4;
  rotate: -30deg;

  bottom: 156px;
  left: 235px;
}

.formula.four {
  font-weight: 500;
  font-style: italic;
  rotate: 15deg;

  bottom: -27px;
  left: -19px;
}

.formula.five {
  display: none;
}

.back-img {
  position: absolute;

  bottom: 0;
  right: 0;
}

.nowrap {
  white-space: nowrap;
}

.modal {
  display: none;
  position: absolute;
  max-width: 360px;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  right: 0;
  z-index: 999;
}

.is-visible {
  display: block;
}

.modal-web-register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.modal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.modal-close-btn {
  background-color: inherit;
  border: none;
}

.modal-close-img {
  width: 32px;
  height: 32px;
}

.modal-register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-register-form-input {
  padding: 12px 16px;
  background: rgba(242, 244, 250, 1);
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.modal-register-form-input.allert {
  border: 1px solid red;
}

.modal-register-form-input::placeholder {
  color: rgba(118, 123, 142, 1);
}

.modal-register-form-input:focus {
  outline: 1px solid rgb(189, 191, 198);
}

.modal-register-form-input.flag {
  padding-left: 45px;
  background-image: url("../images/flag.png");

  background-repeat: no-repeat;
  background-position: center left 16px;
}

.modal-register-form-label {
  display: flex;
  gap: 8px;

  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 12px;
}

.modal-register-form-checkbox {
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(15, 124, 65, 1);
  appearance: none;
  background-color: white;
  cursor: pointer;
}

.modal-register-form-checkbox::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: solid rgba(15, 124, 65, 1);
  border-width: 0 2px 2px 0;
  display: none;
  transform: rotate(45deg) translate(-50%, -50%);
}

.modal-register-form-checkbox:checked::before {
  display: block;
  width: 6px;
  height: 9px;
}

.modal-register-form-link {
  color: rgba(53, 119, 247, 1);
}

.modal-register-btn {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(15, 124, 65, 1);
  border: none;
  transition: background-color 0.2s ease-in-out;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.layer {
  display: none;
}

@media screen and (min-width: 768px) {
  .webinar-container {
    display: flex;
    gap: 32px;
    background-image: url("../images/table-decor-tablet.png");
  }

  .webinar-info {
    max-width: 336px;
  }

  .webinar-info-subtitle-container {
    padding-top: 45px;
    padding-bottom: 24px;
    gap: 12px;
  }

  .webinar-info-subtitle {
    height: 36px;
    padding: 6px 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.07em;
    text-align: center;
  }

  .webinar-info-subtitle.big {
    max-width: 238px;
  }

  .webinar-info-subtitle.small {
    max-width: 226px;
    letter-spacing: 0.07em;
  }

  .corner {
    width: 4px;
    height: 4px;
  }

  .left-top {
    top: -3px;
    left: -3px;
  }

  .right-top {
    top: -3px;
    right: -3px;
  }

  .left-bottom {
    bottom: -3px;
    left: -3px;
  }

  .right-bottom {
    bottom: -3px;
    right: -3px;
  }

  .webinar-info-title {
    font-size: 36px;
    line-height: 1.22;
    padding-bottom: 24px;
  }

  .webinar-info-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .webinar-register {
    display: none;
  }

  .modal-wrapper {
    padding-top: 51px;
    padding-bottom: 51px;
    z-index: 999;
  }

  .modal {
    display: block;
    position: static;
    max-width: 336px;
    height: 518px;
    padding: 32px 20px;
  }

  .modal-nav {
    display: none;
  }

  .modal-register-btn:hover {
    background-color: rgb(14, 110, 59);
  }

  .modal-register-btn {
    height: 64px;
  }

  .formula {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }

  .formula.one {
    top: 10px;
    left: 546px;
  }

  .formula.one br {
    display: block;
  }

  .formula.two {
    top: -4px;
    left: 142px;
  }

  .formula.three {
    font-size: 20px;

    bottom: 18px;
    left: -52px;
  }

  .formula.four {
    font-weight: 700;
    rotate: 15deg;

    bottom: 0px;
    left: 0px;
  }

  .formula.five {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
    bottom: 4px;
    left: 210px;
    rotate: 16.5deg;
  }

  .vector-img {
    width: 48px;
    height: 48px;
    transform: rotateZ(20deg) rotateX(180deg);
    bottom: 106px;
    right: 12px;
  }

  .rectangle.one {
    width: 10px;
    height: 10px;
    top: 172px;
    right: -386px;
  }

  .rectangle.two {
    width: 20px;
    height: 20px;
    bottom: 212px;
    right: -404px;
  }

  .rectangle.five {
    display: block;
    width: 20px;
    height: 20px;
    bottom: 24px;
    right: -88px;
  }

  .rectangle.six {
    display: block;
    width: 10px;
    height: 10px;
    bottom: 66px;
    right: 42px;
  }

  .rectangle.seven {
    display: block;
    width: 10px;
    height: 10px;
    bottom: -20px;
    left: 174px;
  }
}

@media screen and (min-width: 1440px) {
  .webinar-container {
    gap: 104px;
    background-image: url("../images/table-decor-desk.png");
  }

  .webinar-info {
    max-width: 624px;
  }

  .webinar-info-subtitle-container {
    padding-top: 88px;
    padding-bottom: 40px;
    flex-direction: row;
    gap: 30px;
  }

  .webinar-info-title {
    font-size: 56px;
    line-height: 1.22;
    padding-bottom: 40px;
  }

  .webinar-info-title .nowrap {
    white-space: normal;
  }

  .webinar-info-text {
    max-width: 554px;
    font-size: 20px;
    line-height: 1.4;
  }

  .modal-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .modal {
    max-width: 488px;
    height: 580px;
    padding: 52px;
  }

  .webinar-register-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .webinar-register-timer {
    max-width: 254px;
  }

  .webinar-register-timer-value {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 700;
  }

  .back-img {
    width: 312px;
    height: 240px;
  }

  .formula.one {
    max-width: 267px;
    font-weight: normal;
    top: 40px;
    left: 1196px;
  }

  .formula.one br {
    display: none;
  }

  .formula.two {
    font-weight: 500;
    top: 18px;
    left: 425px;
  }

  .formula.three {
    font-size: 24px;
    line-height: 1.17;
    font-weight: normal;

    bottom: 60px;
    left: 155px;
  }

  .formula.five {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    bottom: -10px;
    left: 522px;
    rotate: 16.5deg;
  }

  .layer {
    display: block;
    position: absolute;
    left: 0;
    bottom: 24px;
  }

  .vector-img {
    width: 82px;
    height: 82px;
    transform: rotateZ(18deg) rotateX(180deg);
    bottom: 152px;
    right: -18px;
  }

  .rectangle.one {
    top: 150px;
    right: -610px;
  }

  .rectangle.two {
    bottom: 312px;
    right: -638px;
  }

  .rectangle.five {
    bottom: 46px;
    right: -275px;
  }

  .rectangle.six {
    bottom: 438px;
    right: -680px;
  }

  .rectangle.seven {
    bottom: -8px;
    left: 700px;
  }
}
